@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }

  body{
    background: linear-gradient(-45deg, #eb6e48, #dd296e, #1ca5d7, #18d9ac);
    animation: gradient 6s ease infinite;
    background-size: 400% 400%;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);

  }

 @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
 }
  
 .container{
    position: relative;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .avatar {
    display: flex;
    justify-content: center;
  }
  .avatar img{
    border-radius: 50%;
    width: 40%;
    margin-top: -75px;
    border: 2px solid #1ca5d7;
    transition: 1s;
  }
  .avatar img:hover {
    width: 52%;
    cursor: pointer;
  }
  .container form {
    padding: 0 40px;
    margin-top: 10px;
  }

  form .txt-field {
    margin: 20px 0px ;
    position: relative;
    border-bottom: 2px solid #ffffff;
  }

  form .txt-field input {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: none;
    padding: 0 5px;
  }
  form .txt-field label {
    color: white;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s;
  }
  
  .txt-field span::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 40px;
    width: 0%;
    height: 2px;
    background: rgb(87, 21, 21);
    transition: 0.7s;
    border-radius: 2px;
  }
  .txt-field input:focus ~ label{
    top: -13%;
  }

  .txt-field input:focus ~ span::before {
      width: 100%;
  }
  .forget{
      
      display: flex;
      flex-direction: column;
  }
  .forget a {
      padding: 0 5px;
      text-decoration: none;
      color: rgb(194, 194, 194);
      margin: 10px 0;
  }
  .forget span {
    margin: 5px 0;
  }
  .forget span:hover {
    color: rgb(226, 226, 226);
    text-decoration: underline;
  }
  .forget button {
    border: 1px solid white;
    border-radius:22px;
    background: linear-gradient(-45deg, #dd296e, #1ca5d7);
    color : white;
    padding: 14px;
    margin: 20px 0 38px 0 ;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
  }
  .forget button:hover {
    border-color: #18d9ac;
    
  }
  .signup {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }

  .signup span {
    color: rgb(194, 194, 194);
  }

  .signup a {
    text-decoration: none;
    color: white;
  }
  .signup a:hover {
    color: rgb(226, 226, 226);
    text-decoration: underline;
  }